
body {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.main {
  display: table;
  height: 620px;
  width: 1150px;
}

section.game-container {
  width: 820px;
}

section.side-panel-container,
section.game-container {
  display: table-cell;
}

section.side-panel-container {
  background-color: #ddd;
  padding: 20px;
  vertical-align: top;
  border: 1px solid #aaa;
}

.unit-details {
  padding: 5px 30px;
  background-color: #ccc;
  border: 1px solid #aaa;
}
